div {
  margin: 0;
  padding: 0;
}

.faStack[data-count]:after {
  position: absolute;
  left: -0.18rem;
  top: -0.36rem;
  content: attr(data-count);
  font-size: 0.64rem;
  padding: 0.6em;
  border-radius: 50%;
  line-height: 0.8em;
  color: white;
  background-color: red;
  text-align: center;
  min-width: 1em;
  font-weight: bold;
}
